#NPM
node_modules/
package-lock.json

#Yarn
yarn.lock

#Private Source
auth.js
provider/Eros.db
provider/countdown.json
provider/models/kamihime.js
commands/fun/
commands/kamihime/test.js

#VSCode
.vscode
